apiVersion: v1
kind: Secret
metadata:
  name: moodle-secrets
type: Opaque
stringData:
  db-password: "CHANGE_ME_db_password"
  admin-password: "CHANGE_ME_admin_password"
  moodle-secret-key: "CHANGE_ME_moodle_secret_key"
  redis-password: "CHANGE_ME_redis_password"
